*{
    margin: 0;
    padding: 0;
}
.header{
    height: 80px;
    background: whitesmoke;
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 0;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    font-family:  sans-serif;
    margin-left: 120px;
    padding-top: 17px;
}
.header_menu{
    position: absolute;
    top: 23px;
    right:250px;
}
.header_list{
    display: inline;
    margin-left: 33px;
    font-size: 23px;
    font-family:' Grotesque', sans-serif ;
}
.header_list a{
    text-decoration: none;
    font-family:'Grotesque', sans-serif ;
    font-weight: 500;
}
.header_list :hover{
    color: #ed502e;
    border-bottom: 3px solid #ed502e;
}
.dropdown_img{
    position: absolute;
    top: 1px;
    height: 30px;
    width: 30px;
    right: 310px;
    
}
.header_list :hover .dropdown_img{
    border: none;
    transform: rotateZ(-90deg);
}
.dropdown_ul{
    display: none;
    position: absolute;
    height: 160px;
    width: 150px;
    right: 300px;
    list-style: none;
    background: white;
}
.dropdown{
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: white;
}
.dropdown a{
    color:black;
    border: none;
}
.header_list_dp:hover .dropdown_ul a{
    border: none;
}
.header_list_dp:hover .dropdown_ul{
    display: block;
    color: black;
    border: none;
}
.btn{
    font-size: 20px;
    background: #ed502e;
    padding: 12px 25px;
    border-radius: 9px;
    border: 0;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background: black;
}
.header_btn{
    position: absolute;
    top: 15px;
    right: 40px;
}
.home_section{
    height: 100vh;
}
.home_list{
    background-image:linear-gradient(rgba(0, 0, 0, 0.452),rgba(0, 0, 0, 0.5)) ,url(../Images/bg_img.jpg);
    height:100%;
    background-color: yellowgreen;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home_box{
    height: 300px;
    width: 500px;
    position: absolute;
    top: 200px;
    left: 100px;
}
.home_title{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
}
.home_para{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
    white-space: 5px;
    color: white;
}
.img_chg{
    position: absolute;
    top: 600px;
    left: 640px;
}
.imgs_chg_no{
    display: inline-block;
    height: 13px;
    width: 13px;
    background: white;
    border-radius: 50%;
}
.imgs_chg_no:hover{
    background: #ed502e;
}
/* <!-- home_section_end -->
<!-- About_section_start --> */
.about_section{
    margin-top: 50px;
    position: relative;
}
.about_hight{
    height: 500px;
    margin-top: 50px;
    padding-left: 80px;
}
.about_us{
    color: #c4bcbc;
    font-size: 27px;
    margin-left: 50px;
}
.about_us::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 105px;
    position: absolute;
    top: 18px;
    left: 235px;
    background: orangered;
}
.about_head{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 10px;
}
.about_black{
    background: #797272;
    margin-left: 50px;
    margin-top: 80px;
    /* display: inline-block; */
}
.about_box1{
    margin-top: 50px;
    width: 570px;
    height: 500px;
}
.about_box ul i{
    font-size: 10px;
}
.about_para{
    margin-left: 50px;
    font-size: 19px;
}
.ul_i1{
    position: absolute;
    left: 110px;
    top: 210px;
}
.ul_i2{
    position: absolute;
    left: 110px;
    top: 250px;
}
.ul_i3{
    position: absolute;
    left: 110px;
    top: 295px;
}
.about_box1 ul{
    margin-left: 80px;
    list-style-type: none;
    margin-top: 20px;
}
.about_box1 ul i{
    color: #fc3e14;
    display: inline;
    font-size: 25px;
}
.about_box1 ul li{
    margin-top: 20px;
    font-size: 20px;
}
.about_box2{
    top: 120px;
    right: 30px;
    position: absolute;
    width: 600px;
    height: 200px;
    line-height: 25px;
}
.about_box2 p{
    font-size: 20px;
}
.about_button{
    padding: 8px 18px;
    border: 3px solid #fc3e14;
    font-size: 20px;
    position: absolute;
    top: 140px;
    text-decoration: none;
}
.about_button:hover{
    background: #fc3e14;
    color: white;
}
.about_box_section{
    height: 400px;
    background: white;
    padding-left: 80px;
}
.about_box{
    height: 300px;
    width: 280px;
    background: white;
    position: relative;
    display: inline-block;
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about_box i{
    font-size: 35px;
    margin-top: 30px;
    margin-left: 50px;
}
.about_box h1{
    position: absolute;
    top: 20px;
    left: 130px;
    font-size: 50px;
}
.box_icon_para{
    font-size: 22px;
    margin: 30px;
    word-spacing:13px ;
}
.about_box a{
    font-weight: 600;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    color: #164682;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.about_img_section{
    height: 100%;
    position: relative;
    background: #e2e2e2 !important;
}
.about_img_box{
    background: #e2e2e2;
}
.about_img{
    height: 550px;
    width: 550px;
    display: inline-block;
}
.about_img img{
    height: 100%;
    width: 100%;
}
.about_img_content{
    position: absolute;
    top: 0;
    left: 650px;
    margin-right: 50px;
}
.content_info_1{
    font-size: 35px;
    font-weight: 500;
    margin-top: 50px;
    line-height: 60px;
}
.content_info_2{
    margin-top: 30px;
    font-size: 20px;
    line-height: 25px;
}
.side_info{
    height: 50px;
    width: 600px;
    background: white;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
}
.side_info span{
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 20px;
    color: #fc3e14;
    font-weight: 700;
}
.side_info h3{
    position: absolute;
    font-size: 20px;
    top: 14px;
    left: 70px;
}
.side_info img{
    position: absolute;
    right: 10px;
}
.side_info:hover{
    color: #fc3e14;
}
.services_section{
    margin-top: 50px;
    position: relative;
}
.services_info_1{
    color: #b9aeae;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 100px;
    text-transform: uppercase;
}
.services_info_1::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 150px;
    top: 10px;
    left: 180px;
    position: absolute;
    background: orangered;
}
.services_info_2{
    text-transform: uppercase;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    margin-left: 75px;
    margin-top: 15px;
}
.services_info_box{
    margin-top: 50px;
    padding-left: 90px;
}
.services_box{
    height: 300px;
    width: 370px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.services_box:hover{
    background: #fc3e14;
    color: white;
}
.services_box:hover .services_box_div{
    background-color: white;
    color: #fc3e14;
}
.services_box h1{
    position: absolute;
    font-size: 25px;
    top: 135px;
    right: 110px;
    text-transform: capitalize;
}
.services_box p{
    position: absolute;
    top: 170px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.services_box_div{
    position: absolute;
    top: 20px;
    left: 130px;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    border: 3px solid #fc3e14;
}
.services_box_div i{
    display: flex;
    font-size: 35px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.Services_review_section{
    background: white;
    position: relative;
    margin-top: 50px;
    min-height: 100%;
}
.Services_review_info_1{
    color: #b9aeae;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 100px;
    text-transform: uppercase;
}
.Services_review_info_1:after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 115px;
    top: 13px;
    left: 230px;
    position: absolute;
    background: orangered;
}
.Services_review_info_2{
    text-transform: uppercase;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 900;
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.Services_review_boxs{
    margin-left: 70px;
}
.Services_review_box{
    height: 250px;
    width: 500px;
    margin-bottom: 50px;
    margin-left: 35px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Services_review_box2{
    margin-left: 100px;
}
.Services_review_box h3{
    font-size: 20px;
    margin-left: 65px;
    margin-top: 30px;
    font-family: sans-serif;
}
.Services_review_box h5{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 65px;
    color: #b9aeae;
}
.Services_review_box p{
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
    margin-left: 30px;
    color: #757373;
}
.Services_review_box p i{
    font-size: 25px;
    margin-right: 10px;
    margin-left: 50px;
}
.reviewer_img{
    height: 100px;
    width: 100px;
    background: #ed502e;
    border-radius: 8px;
}
.reviewer_img1{
    position: absolute;
    top: 150px;
    left: 50px;
    background-image: url(../Images/team-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.reviewer_img2{
    position: absolute;
    top: 150px;
    left: 660px;
    background-image: url(../Images/team-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img_chgs{
    position: absolute;
    bottom: 10px;
    margin-bottom: 50px;
    top: 380px;
}
.img_chg_no{
    border: 3px solid #fc3e14;
    position: absolute;
    height: 7px;
    width: 7px;
    display: inline;
    margin-left: 40px;
    margin-top: 50px;
    left: 550px;
    margin-bottom: 150px;
}
.img_chg_no2{
    margin-left: 70px;
}
.img_chg_no3{
    margin-left: 10px;
}
.call_action_section{
    position: relative;
    margin-top: 50px;
}
.call_action{
    height: 300px;
    background:#010e1f;
    color: white;
}
.call_action h3{
    position: absolute;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    top: 100px;
    left: 40%;
}
.call_action p{
    position: absolute;
    font-size: 20px;
    top: 140px;
    line-height: 25px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: -webkit-center;
}
.call_action_btn{
    position: absolute;
    top: 210px;
    left: 550px;
    color: white;
    font-size: 20px;
    border: 2px solid #fc3e14;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 25px;
}
.portfolio_section{
    background: white;
    position: relative;
    margin-top: 50px;
}
.portfolio_section h3{
    color: #b9aeae;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 50px;
    text-transform: uppercase;
}
.portfolio_section_h3::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 105px;
    top: 11px;
    left: 200px;
    position: absolute;
    background: orangered;
}
.portfolio_section h1{
    text-transform: uppercase;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    margin-left: 79px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.portfolio_section_list{
    margin-left: 500px;
}
.portfolio_section_list li{
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}
.portfolio_section_list li:hover{
    color: #fc3e14;
}
.portfolio_img_boxing{
    padding-left: 80px;
}
.portfolio_img_box{
    height: 280px;
    width: 370px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.portfolio_img_box img{
    height: 100%;
    width: 100%;
}
.portfolio_img_boxing3{
    padding-bottom: 50px;
}
.team_section{
    min-height: 100vh;
    background: white;
    position: relative;
}
.team_section_h3{
    color: #b9aeae;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 80px;
}
.team_section_h3::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 105px;
    top: 12px;
    left: 65px;
    position: absolute;
    background: orangered;
}
.team_section h1{
    position: absolute;
    text-transform: uppercase;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    left: 80px;
    top: 50px;
}
.team_profile{
    position: absolute;
    top: 160px;
    left: 80px;
}
.team_profile_img{
    cursor: pointer;
    height: 300px;
    width: 280px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 10%, rgba(6,6,52,1) 100%);
}
.team_profile_img img{
    background: rgb(2,0,36);
    height: 100%;
    width: 100%;
}
.team__img{
    display: none;
    width: 70px;
    height: 100%;
    background: rgba(16, 4, 4, 0.337);
}
.team_profile_img:hover .team__img{
    display: block;
}
.team__img i:hover{
    color: #ed502e;
    opacity: 1;
}
.team__img:hover{
    background: #164682;
    opacity: 1;
}
.team__img i{
    margin-top: 40px;
    color: white;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.team__img1{
    position: absolute;
    left: 0;
    top: 0;
}.team__img2{
    position: absolute;
    left: 0;
    top: 0;
}.team__img3{
    position: absolute;
    left: 0;
    top: 0;
}.team__img4{
    position: absolute;
    top: 0;
    left: 0;
}
.team_profile_img :hover{
    opacity: 0.5;
 }
 .team_profile_img div{
     display: none;
 }
 .team_profile_img:hover div {
     display: block;
 }
 .team_profile_img div p{
     position: absolute;
     bottom: 30px;
     left: 80px;
     z-index: 1;
     color: white;
     font-size: 14px;
     font-weight: 500;
     font-style: italic;
 }
 .team_profile_img div h1{
     position: absolute;
     top: 210px;
     left: 80px;
     z-index: 1;
     color: white;
     font-size: 14px;
 }
 .team_profile_img2 div p{
     left: 110px;
 }
 .team_profile_img3 div p{
     left: 140px;
 }
 .team_profile_img3 div h1{
     right: 10px;
 }
 .team_profile_img4 div p{
     left: 200px;
 }
 .price_section{
    margin-top: 50px;
    background: #e2e2e2;
    position: relative;
    min-height: 100vh;
    margin-bottom: 50px;
}
.price_section h3{
    color: #b9aeae;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 80px;
}
.price_section_h3::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 105px;
    top: 10px;
    left: 122px;
    position: absolute;
    background: orangered;
}
.price_section h1{
    position: absolute;
    text-transform: uppercase;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 900;
    margin-left: 80px;
    top: 60px;
    margin-bottom: 50px;
}
.price_box_section{
    position: absolute;
    top: 100px;
    left: 100px;
    /* padding-bottom: 100px; */
    /* padding-left: 80px; */
}
.price_box{
    height: 470px;
    width: 350px;
    display: inline-block;
    background: white;
    margin: 15px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.price_box h3{
    position: absolute;
    font-size: 20px;
    top: 40px;
    left: 140px;
}
.price_box2{
    border: 3px solid #fc3e14;
}
.price_box h1{
    position: absolute;
    top: 80px;
    left: 70px;
}
.price_box p{
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    color: #c4bcbc;
    top: 130px;
    left: 120px;
}
.price_info_list{
    position: absolute;
    top: 140px;
    margin: 20px;
    list-style: none;
}
.price_info_list li{
    margin-bottom: px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
}
.price_info_list li i{
    color: #fc3e14;
    font-size: 15px;
    padding-right: 15px;
}
.start_btn1{
    font-size: 17px;
    text-decoration: none;
    border: 3px solid #164682;
    padding: 10px 15px;
    position: absolute;  
    font-weight: 700;
    font-family: sans-serif;  
    left: 130px;
    bottom: 30px;
    text-transform: capitalize;
}
.start_btn1:hover{
    background: #010e1f;
    border: 2px solid #010e1f;
    color: white;
}
.start_btn{
    font-size: 17px;
    text-decoration: none;
    padding: 10px 15px;
    background: #fc3e14;
    border: 3px solid #fc3e14;
    color: white;
    position: absolute;  
    font-weight: 700;
    font-family: sans-serif;  
    left: 130px;
    bottom: 30px;
    text-transform: capitalize;
}
.question_section{
    margin-top: 50px;
    position: relative;
    min-height: 100vh;
}
.question_h3{
    color: #b9aeae;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 80px;
}
.question_h3::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 105px;
    top: 13px;
    left: 60px;
    position: absolute;
    background: orangered;
}
.question_section h1{
    position: absolute;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    top: 70px;
    left: 80px;
}
.question_section_div{  
    position: absolute;
    top: 150px;
    min-height: 100vh;
    width: 100%;
      
}
.section_div i{
    position: absolute;
    top: 65px;
}
.section_qst_div{
    position: relative;
    height: 100px;
    width: 1200px;
    margin-left: 85px;
    margin-bottom: 10px;
}
.section_para1{
    height: 160px;
    width: 400px;
    display: inline-block;
}
.section_para2{
    display: inline-block;
    width: 650px;
    height: 160px;
}
.section_qst_div span{
    display: block;
    position: absolute;
    top: 80px;
    left: 80px;
    width: 80%;
    height: 2px;
    background: #fc3e14;
}
.section_div_para{}
.section_div_para1{}
.contact_section{
    margin-top: 50px;
    background: #e2e2e2;
    position: relative;
    min-height: 100vh;
}
.contact_h3{
    color: #b9aeae;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 80px;
}
.contact_h3::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 105px;
    top: 10px;
    left: 100px;
    position: absolute;
    background: orangered;
}
.contact_section h1{
    position: absolute;
    text-transform: uppercase;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 900;
    top: 70px;
    left: 80px;
}
.contact_div{
    margin-left: 80px;
    background: #797272;
}
.location_div{
    position: absolute;
    top: 140px;
    left: 80px;
    height: 180px;
    width: 500px;
    background: white;
    text-transform: capitalize;
}
.location_div h3{
    position: absolute;
    top: 80px;
    left: 180px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #635151;
}
.location_div i{
    position: absolute;
    left: 230px;
    top: 40px;
    font-size: 20px;
    color: #fc3e14;
}
.location_div p{
    position: absolute;
    top: 115px;
    left: 100px;
    font-size: 20px;
    text-align: -webkit-center;
    text-transform: capitalize;
    font-family: sans-serif;
}
.email_div i{
    position: absolute;
    left:120px;
    top: 20px;
    font-size: 25px;
    color: #fc3e14;
}
.email_div{
    position: absolute;
    top: 350px;
    height: 150px;
    width: 240px;
    background: white;
}
.email_div h3{
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #665252;
}
.email_div p{
    position: absolute;
    top: 100px;
    left: 5px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: sans-serif;
}
.call_div i{
    position: absolute;
    left:120px;
    top: 20px;
    font-size: 25px;
    color: #fc3e14;
}
.call_div{
    position: absolute;
    top:350px;
    left: 330px;
    height: 150px;
    width: 250px;
    background: white;
}
.call_div h3{
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #665252;
}
.call_div p{
    position: absolute;
    top: 90px;
    left: 70px;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: sans-serif;
}
.contact_div2{
    position: absolute;
    top: 140px;
    right: 170px;
    width: 550px;
    height: 380px;
    background: white;
}
.input_subject{
    position: absolute;
    left: 50px;
    top:90px;
    padding: 5px;
    font-size: 15px;
    width: 84%;
    height: 40px;
}
.contact_sec{
    position: absolute;
    top: 25px;
    left: 50px;
    display: inline-block;
}
.contact_sec input{
    margin-right: 10px;
    font-size: 15px;
    padding-left: 30px;
    height: 50px;
    width: 195px;
}
#textarea_box{
    position: absolute;
    top: 160px;
    left: 50px;
    width: 470px;
    height: 110px;
    font-size: 23px;
    padding-top: 25px;
}
.contact_div2 a{
    position: absolute;
    bottom: 20px;
    left: 200px;
    text-decoration: none;
    color: white; 
}
.fooder_section{
    overflow: hidden;
    background: #164682;
    position: relative;
    min-height: 100vh;
    color: white;
}
.fooder_box{
    margin-top: 70px;
    margin-left: 100px;
    position: relative;
    width: 350px;
    height: 320px;
    background: #072141;
    text-transform: capitalize;
    border-top: 7px solid #fc3e14;
}
.fooder_box h1{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    text-align: -webkit-center;
}
.fooder_box .para1{
    text-align: -webkit-center;
    font-size: 15px;
    line-height: 25px;
    margin: 10px 20px;
}
.fooder_box .para2{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.fooder_box .para3{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
.fooder_box .para4{
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}
.fooder_box .para5{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
.fooder_div{
    position: absolute;
    text-transform: capitalize;
    bottom: 20px;
    left: 50px;
}
.fooder_div li{
    display: inline-block;
    font-size: 24px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-left: 20px;
    background: #164682;
}
.fooder_div li i{
    margin-top: 10px;
    margin-left: 10px;
}
.fooder_link{
    position: absolute;
    height: 300px;
    width: 180px;
    top: 73px;
    left: 490px;
    text-transform: capitalize;
    list-style-type: none;
}
.fooder_link_list li p{
    display: inline;
    font-size: 20px;
    padding-left: 9px;
}
.fooder_link_list li i{
    font-size: 20px;
    margin-top: 10px;
    color: #fc3e14;
}
.fooder_link_list li{
    list-style-type: none;
}
.fooder_service{
    position: absolute;
    height: 300px;
    width: 200px;
    top: 73px;
    left: 680px;
    text-transform: capitalize;
    list-style-type: none;
}
.fooder_service_list li{
    list-style-type: none;
}
.fooder_service_list li i{
    font-size: 20px;
    color: #fc3e14;
    margin-top: 10px;
}
.fooder_service_list p{
    display: inline;
    font-size: 20px;
    padding-left: 9px;
}
.fooder_new{
    position: absolute;
    top: 73px;
    right: 40px;
    width: 400px;
    height: 200px;
    text-transform: capitalize;
}
.fooder_new h1{
    font-size: 20px;
}
.fooder_new p{
    margin-top: 20px;
    font-size: 20px;
}
.fooder_new_input{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}
.btn_btn:hover{
    color: white;
}
.btn_btn{
    position: absolute;
    top: 132px;
    right: 40px;
    font-size: 20px;
    padding: 9px 10px;
    background: #fc3e14;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.fooder_span{
}
.fooder_bottum{
    color: #fc3e14;
   
}
.fooder_bottum{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}










































/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 480px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 480px) and (max-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 600px) and (max-width: 801px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 801px) and (max-width: 1025px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1025px) and (max-width: 1281px) {}